.banner {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  width: 100%;
  height: 360px;
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__interior {
    color: #fff;
    text-align: center;
    &__title {
      h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
    }
    &__text {
      p {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
    }
    &__icon {
      display: flex;
      justify-content: center;
      &__app {
        margin-top: 13px;
        a {
          width: 150px;
        }
      }
      &__app:hover {
        opacity: 0.5;
      }
      &__google:hover {
        opacity: 0.5;
      }
    }
  }
}