.footer {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__boxes {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__box {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          margin: 0;
          padding: 0;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    a {
      width: 100%;
      vertical-align: bottom;
    } 
  }
  &__mark {
    font-size: 14px;
  }
}