* {
  box-sizing: border-box;
}

.category {
  padding: 60px 0;
  background-color: #f8f8f8;
  &__title {
    text-align: center;
    a {
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
  }
  &__box {
    &__title {
      text-align: center;
      a {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
        font-weight: bold;
      }
    }
    &__lists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      flex-wrap: wrap;
      &__list {
        position: relative;
        background-color: white;
        width: 220px;
        margin: 20px;
        margin: 0 20px 20px 20px;
        &__image {
          .image {
            width: 220px;
            height: 150px;
          }
        }
        &__sold {
          position: absolute;
          top:0;
          left: 0;
          z-index: 100;
          width: 120px;
          height:120px;
          overflow: hidden;
          &__inner{
            margin-top: 13px;
            font-size: 28px;
            color: #fff;
            transform: rotate(-45deg);
            &__back{
              background-color: #EA352E;
              position: absolute;
              left: -65px;
              top: -62px;
              z-index: -1;
              border-top: 0;
              border-right: 100px solid white;
              border-bottom: 100px solid transparent;
              border-left: 100px solid white;
            }
          }
        }
        &__text {
          color: #333;
          padding: 16px;
          a {
            font-size: 17px;
          }
          p {
            font-size: 10px;
          }
          &__name {
            line-height: 2.0;
          }
          &__data {
            display: flex;
            justify-content: space-between;
            &__quality {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      &__list:hover {
        opacity: 0.5;
      }
    }
  }
}
