.main__intro {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  width: 100%;
  height: 560px;
  background-image: url("pict/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  &__box {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }
    &__text {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    &__text--under {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
    }
    &__icon {
      display: flex;
      &__app {
        margin-top: 13px;
        a {
          width: 150px;
        }
      }
      &__app:hover {
        opacity: 0.5;
      }
      &__google:hover {
        opacity: 0.5;
      }
    }
  }
}