.banner
  .banner__interior
    .banner__interior__title
      %h2 だれでもかんたん、人生を変えるフリマアプリ
    .banner__interior__text
      %p 今すぐ無料ダウンロード！
    .banner__interior__icon
      .banner__interior__icon__app
      .banner__interior__icon__google