.banner
  .banner__interior
    .banner__interior__title
      %h2 だれでもかんたん、人生を変えるフリマアプリ
    .banner__interior__text
      %p 今すぐ無料ダウンロード！
    .banner__interior__icon
      .banner__interior__icon__app
        = image_tag "/assets/btn/app-store-btn.png", size: "145x42"
      .banner__interior__icon__google
        = image_tag "/assets/google-play-badge.png", size: "155x65"