.info
  .info__interior
    .info__interior__title
      %a 会員数日本一位
    .info__interior__text
      %h FURIMAは、フリマアプリで最も人気！
      %p 出品・購入回数も業界最多です！
      %p 欲しかったあの商品に出会えるかもしれません！
    .info__interior__icon
      .info__interior__icon__app
        = image_tag "/assets/btn/app-store-btn.png", size: "145x42"
      .info__interior__icon__google
        = image_tag "/assets/btn/google-play-badge.png", size: "155x65"