%section.main__intro
  .main__intro__box
    %h2.main__intro__box__title 
      %br 人生を変えるフリマアプリ
    %p.main__intro__box__text FURIMAはだれでもかんたんに出品・購入できる 
    %p.main__intro__box__text--under フリマアプリです
    .main__intro__box__icon
      .main__intro__box__icon__app
        = image_tag "/assets/btn/app-store-btn.png", size: "145x42"
      .main__intro__box__icon__google
        = image_tag "/assets/google-play-badge.png", size: "155x65"