.brand
  .brand__title
    %a ピックアップブランド
  .brand__box
    .brand__box__title
      %a アーカイバー
    %ul.brand__box__lists
      -# main_categoryの書き方を持ってくればいいので、brandモデルができてからにする予定
      - @brands.first(6).each do |brand|
        %li.brand__box__lists__list
          .brand__box__lists__list__image
            =link_to image_tag(brand.items.items_images.image.to_s, class:"image"), root_path
          .brand__box__lists__list__text
            .brand__box__lists__list__text__name
              = brand.items.name
            .brand__box__lists__list__text__data
              .brand__box__lists__list__text__data__price
                = brand.items.price + "円"
                %p (税込)
              .brand__box__lists__list__text__data__quality
                .brand__box__lists__list__text__data__quality__icon
                  = icon('fa', 'star')
                .brand__box__lists__list__text__data__quality__value
                  = brand.items.user.profile.late_count
 