.info
  .info__interior
    .info__interior__title
      %a 会員数日本一位
    .info__interior__text
      %h FURIMAは、フリマアプリで最も人気！
      %p 出品・購入回数も業界最多です！
      %p 欲しかったあの商品に出会えるかもしれません！
    .info__interior__icon
      .info__interior__icon__app
        %a{:href => "", :style => "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2011-06-23&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"}
      .info__interior__icon__google
        = image_tag src="/assets/google-play-badge.png", size: "155x65"