.category
  .category__title
    %a ピックアップカテゴリー
  .category__box
    .category__box__title
      %a 新規投稿商品
    %ul.category__box__lists
      - @items.first(6).each do |item|
        =link_to item_path(item) do
          %li.category__box__lists__list
            .category__box__lists__list__image
              =image_tag item.item_images.first.image.to_s, class:"image"
              - @buyerBrand.each do |item_brand|
                - if item.id == item_brand
                  .category__box__lists__list__sold
                    .category__box__lists__list__sold__inner
                      %p SOLD
                      .category__box__lists__list__sold__inner__back
            .category__box__lists__list__text
              .category__box__lists__list__text__name
                = item.name
              .category__box__lists__list__text__data
                .category__box__lists__list__text__data__price
                  = item.price.to_s + "円"
                  %p (税込)
                .category__box__lists__list__text__data__quality
                  .category__box__lists__list__text__data__quality__icon
                    = icon('fa', 'star')
                  .category__box__lists__list__text__data__quality__value
                    -# = item.user.profile.late_count
