.sides
  - @side.each do|c|
    .side__content-title
      = c
  
  %strong
    メルペイ
  .side1
    - @side1.each do|c|
      .side1__content-title
        = c

  %strong
    設定
  .side2
    - @side2.each do|c|
      .side2__content-title
        = c
