.header
  .header__interior
    .header__interior__main
      .header__interior__main__icon
      .header__interior__main__seach-box
    .header__interior__nav
      .header__interior__nav__left
        .header__interior__nav__left__categorie
        .header__interior__nav__left__brand
      .header__interior__nav__right
        .header__interior__nav__right__login
        .header__interior__nav__right__new