* {
  box-sizing: border-box;
}

.purchasePage {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: #f5f5f5;
  text-align: center;
  &__header {
    height: 128px;
    width: 100%;
    line-height: 128px;
    .login_logo {
      margin: 40px auto;
      width: 185px;
      height: 50px;
    }

    .login_logo:hover {
      opacity: 0.7;
    }
    
  }

  &__main {
    height: 100%;
    width: 100vw;

    &__contents {
      width: 700px;
      min-height: 873px;
      height: auto;
      background-color: white;
      margin: auto;
    }
  }

  &__footer {
    height: 100%;

    &__inner {
      width: 460px;
      margin: 0 auto;
      padding: 30px 0 30px 0;
      text-align: center;

      &__nav {
        width: 456px;
        margin: auto;
        margin-top: 10px;

        ul {
          display: flex;
          justify-content: space-around;
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 40px;

          a {
            text-decoration: none;
            font-size: 12px;
            color: #333333;
          }

          a:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.555);
            text-decoration: underline;
            opacity: 0.7;
          }
        }

        &__logo {
          width: 185px;
          height: 50px;
          margin: auto;

          img {
            width: 185px;
            height: 50px;
          }
        }
      }

      p {
        font-family: Helvetica;
        width: 100px;
        margin: auto;
        height: 18px;
        text-align: center;
        font-size: 13px;
      }
    }
  }
}