.main1 {
  width: 100vw;
  background: #f8f8f8;
  &__show {
    padding: 40px;
    margin: 0 auto;
    &__contents {
      // width: 100vw;
      width: 700px;
      margin: 0 auto;
      &--top {
        &__itemBox {
          background-color: #fff;
          padding: 24px 40px 40px 52px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;

            .settingBtn {
              float: right;
              cursor: pointer;
              height: 70px;
              width: 46px;
              color: #3CCACE;
              &:hover .settingBtn__list {
                display: block;
              };
              &__list {
                cursor: pointer;
                position: absolute;
                text-align: center;
                width: 48px;
                border: 1px solid #ddd;
                display: none;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                border-radius: 3px;
                a {
                  display: block;
                  padding: 5px;
                  text-decoration: none;
                  color: #3CCACE;
                  font-size: 15px;
                  z-index: 1;

                  &:hover {
                    background-color: red;
                    color: #fff;
                  }
                }
              }
            };

          }
          &__body {
            margin: 16px 0 0;
            ul {
              display: flex;
              position: relative;
              li {
                margin: 0 auto;
                img {
                  object-fit: cover;
                }
                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                  }
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
              font-size: 38px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &--detail {
              font-size: 16px;
              span {
                font-size: 16px;
                font-weight: normal;
              }
            }
          }
          &__text {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &__table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              border-spacing: 0;
              th {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td {
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
                a {
                  text-decoration: none;
                  color: #3CCACE;
                }
              }
            }
          }
          &__optionalArea {
            display: flex;
            justify-content: space-between;
            .like {
              margin: 10px 0 0;
              display: flex;
              font-size: 16px;
              .likeBtn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }
            .optional {
              margin-top: 10px;
              font-size: 14px;
              .optionalBtn {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }

        }
        
        &__purchaseBox {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          .buyBtn {
            text-decoration: none;
          }
          &__btn {
            width: 100%;
            height: 60px;
            background: #ea352d;
            h1.comment {
              color: #fff;
              text-align: center;
              font-weight: 600;
              font-size: 2.0rem;
              padding-top: 7px;
            }
          }
        }
        // コメント投稿機能実装予定
        // .comments {
        //   width: 100%;
        //   height: 200px;
        //   background-color: #3CCACE;
        // }
        &__commentBox {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .new_comment {
            textarea {
              width: 100%;
              min-height: 104px;
              padding: 10px;
              resize: vertical;
            }
            p {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .commentBtn {
              cursor: pointer;
              font-size: 18px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              border-radius: 100px;
              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
      &--links {
        display: flex;
        justify-content: space-between;
        li {
          a {
            text-decoration: none;
            color: #3CCACE;
          }
        }
      }
      &--relatedItems {
        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}
