* {
  box-sizing: border-box;
}

.header {
  display: block;
  padding: 0 60px;
  background-color: gray;
  &__interior {
    width: 100%;
    max-width: 1040px;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    background-color: green;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        // = image_tag src="/assets/visa.svg",
      }
      &__seach-box {
        margin-left: auto;
        width: 100%;
      }
    }
    &__nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
    }
  }
}