=render "/top_page/header"
=render "sample_show"
=render "/top_page/banner"
=render "/top_page/footer"

= link_to "#" do
  .camera-btm
    .camera-btm__text
      出品する
    .camera-btm__icon
      = image_tag asset_path("icon/icon_camera.png"), size: "54x54"

