.mypageWrapper {
  background-color: rgb(243, 243, 243);

  .contents {
    background-color: rgb(245, 245, 245);
    padding-top: 30px;

    .cardMain {
      max-width: 700px;
      width: auto;
      height: 100%;
    
      &__header {
        width: 696px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        border-bottom: 3px solid rgb(240, 240, 240);
        background-color: white;
        h2 {
          font-size: 24px;
        }
      }
    
      &__contents {
        min-height: 512px;
        width: 100%;
        background-color: white;
    
        &__form{
          height: 407px;
          width: 343px;
          margin: auto;
          padding-top: 40px;
          bottom: 40px;
    
           &__number{
             height: 98px;
             width: 100%;
    
             &__title {
               font-size: 14px;
               font-weight: bold;
    
               span {
                 font-size: 12px;
                 background-color: #ea352d;
                 padding: 2px 4px;
                 margin-left: 8px;
                 color: white;
                 border-radius: 3px;
               }
             }
    
             .numberForm {
              height: 48px;
              width: 343px;background-color: white;
              border-radius: 5px;
              border: 1px solid lightgray;
              margin-top: 8px;
              padding: 10px;
             }

             .numberForm:focus {
               outline: none;
               border: 1px solid #0099e8;
             }

             img {
               margin-top: 5px;
             }
           }
    
           &__limit {
            height: 98px;
            width: 100%;
            margin-top: 30px;
    
            &__title {
              font-size: 14px;
              font-weight: bold;
    
              span {
                font-size: 12px;
                background-color: #ea352d;
                padding: 2px 4px;
                margin-left: 8px;
                color: white;
                border-radius: 3px;
              }
            }
           }
    
           .limitForm {
            height: 48px;
            width: 130px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid lightgray;
            margin-top: 8px;
            padding: 10px;
           }

           .limitForm:focus {
            outline: none;
            border: 1px solid #0099e8;
          }

           .cordMonth {
            font-size: 14px;
            margin: 8px;
           }

           .cordYear {
             font-size: 14px;
             margin: 8px;
           }
    
           &__code {
            height: 80px;
            width: 100%;
    
            &__title {
              font-size: 14px;
              font-weight: bold;
    
              span {
                font-size: 12px;
                background-color: #ea352d;
                padding: 2px 4px;
                margin-left: 8px;
                color: white;
                border-radius: 3px;
              }
            }
          }
    
          .codeForm {
            height: 48px;
            width: 343px;background-color: white;
            border-radius: 5px;
            border: 1px solid lightgray;
            margin-top: 8px;
            padding: 10px;
          }

          .codeForm:focus {
            outline: none;
            border: 1px solid #0099e8;
          }
    
          &__whatIsCode {
            height: 15px;
            width: 100%;
            color:  #0099e8;
            position: relative;
            i {
              font-size: 0.8em;
              position: absolute;
              right: 155px;
              top: 4px;
            }
    
            span {
              font-size: 14px;
              position: absolute;
              right: 0;
            }
          }

          &__submit {
            background-color: #ea352d;
            height: 50px;
            width: 100%;
            margin-top: 32px;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}