* {
  box-sizing: border-box;
}

.exhibitionPage {
  width: 100vw;
  background-color: #f5f5f5;
  // サブタイトル
  label.sab-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
  }
  // 必須
  span.required {
    font-size: 12px;
    background-color: #ff0211;
    color: #fff;
    margin-left: 8px;
    border-radius: 2px;
    font-weight: bold;
    padding: 2px 4px;
  }

  p {
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 16px;
  }
  .header {
    width: 100%;
    height: 128px;
    line-height: 128px;
    text-align: center;
    background-color: #f5f5f5;
    img.exhibition_logo {
      width: 185px;
      height: 50px;
      margin: 40px auto;
    }
    img.exhibition_logo:hover {
      opacity: 0.7;
    }
  }

  .flash {
    margin-top: 40px;
    padding: 10px 0;
    color: white;
    background: rgb(251, 170, 88);
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
  }

  &__main {
    background-color: #f5f5f5;
    &__contents {
      background-color: white;
      width: 700px;
      margin: 0 auto;
      // 出品画像
      &__image {
        border-bottom: 1px solid #f5f5f5;
        padding: 40px 40px 20px ;
        &__explanation {
          display: block;
          margin: 16px auto 0;
          display: flex;
          flex-wrap: wrap;
          .prev-content {
            display: flex;
            .preview-box {
              height: 162px;
              width: 115px;
              margin-right: 8px;
              .upper-box {
                height: 112px;
                width: 100%;
                img{
                  width: 115px;
                  height: 112px;
                }
              }
              .lower-box {
                display: flex;
                text-align: center;
                .delete-box {
                  color: #00b0ff;
                  width: 100%;
                  height: 32px;
                  line-height: 32px;
                  border-top: 1px solid lightgray;
                  background: #f5f5f5;
                  cursor: pointer;
                  font-size: 13px;
                }
              }
            }
          }
          .label-content{
            margin-bottom: 10px;
            width: 620px;
            .label-box {
              display: block;
              border: 1px dashed #ccc;
              position: relative;
              background: #f5f5f5;
              width: 100%;
              height: 145px;
              cursor: pointer;
              &__text-visible {
                position: absolute;
                top: 50%;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 13px;
                line-height: 1.5;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
              }
            }
          }
          .hidden-content {
            .hidden-field {
              display: none;
            }
            .hidden-checkbox {
              display: none;
            }
          }
        }
      }
      // 商品名
      &__product {
        border-bottom: 1px solid #f5f5f5;
        padding: 40px;
        &__name-box {
          &__text {
            align-items: center;
            display: inline-flex;
            width: 100%;
            margin-top: 20px;
            .name__text {
              display: inline-block;
              position: relative;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              height: 48px;
              margin: 0;
              outline: none;
              padding: 0 16px;
              width: 620px;
            }
          }
        }
        &__explanation-box {
          margin-top: 20px;
          &__text {
            margin-top: 20px;
            .explanation__text {
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              margin: 0;
              outline: none;
              padding: 13px 16px;
              resize: vertical;
              vertical-align: middle;
              width: 100%;
              height: 180px;
            }
          }
        }
      }
      // 詳細
      &__detail {
        border-bottom: 1px solid #f5f5f5;
        padding: 40px;
        &__title {
          h1 {
            color: rgb(136, 136, 136);
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 24px;
          }
        }
        &__category {
          &__choose {
            margin-top: 20px;
            select {
              -webkit-appearance: push-button;
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              width: 100%;
            }
          }
        }
        &__brand {
          margin-top: 20px;
          &__title {
            span {
              background-color: #979495;
              color: white;
              font-size: 12px;
              margin-left: 8px;
              border-radius: 2px;
              margin-top: 2px;
              padding: 2px 4px;
            }
          }
          &__text {
            align-items: center;
            display: inline-flex;
            width: 100%;
            margin-top: 20px;
            select {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              width: 100%;
            }
          }
        }
        &__condition {
          margin-top: 20px;
          &__choose {
            margin-top: 20px;
            select {
              -webkit-appearance: push-button;
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              width: 100%;
            }
          }
        }
      }
      .exhibition__delivery {
        font-family:"Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        height: 444px;
        width: 700px;
        margin: auto;
        border-bottom: 1px solid #f5f5f5;
        &__title {
          height: 111px;
          width: 620px;
          margin: auto;
          line-height: 111px;
          font-size: 14px;
          color: gray;
          font-weight: bold;
        }
        &__charges {
          height: 111px;
          width: 620px;
          margin: auto;
          &__top {
            font-size: 14px;
            color: black;
            display: flex;
            font-weight: bold;
            margin-bottom: 16px;
            span {
              background-color: red;
              color: white;
              display: block;
              height: 16px;
              width: 32px;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              margin-left: 8px;
              border-radius: 2px;
              margin-top: 2px;
            }
          }
          &__bottom {
            select {
              width: 620px;
              height: 48px;
              border: 1px solid #ccc;
              background-color: white;
              outline: none;
              padding: 0 56px 0 16px;
              color: #222;
            }
          }
        }
        &__area {
          height: 111px;
          width: 620px;
          margin: auto;
          &__top {
            font-size: 14px;
            color: black;
            display: flex;
            font-weight: bold;
            margin-bottom: 16px;
            span {
              background-color: red;
              color: white;
              display: block;
              height: 16px;
              width: 32px;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              margin-left: 8px;
              border-radius: 2px;
              margin-top: 2px;
            }
          }
          &__bottom {
            select {
              width: 620px;
              height: 48px;
              border: 1px solid #ccc;
              background-color: white;
              outline: none;
              padding: 0 56px 0 16px;
              color: #222;
            }
          }
        }
        &__date {
          height: 111px;
          width: 620px;
          margin: auto;
          &__top {
            font-size: 14px;
            color: black;
            display: flex;
            font-weight: bold;
            margin-bottom: 16px;
            span {
              background-color: red;
              color: white;
              display: block;
              height: 16px;
              width: 32px;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              margin-left: 8px;
              border-radius: 2px;
              margin-top: 2px;
            }
          }
          &__bottom {
            select {
              width: 620px;
              height: 48px;
              border: 1px solid #ccc;
              background-color: white;
              outline: none;
              padding: 0 56px 0 16px;
              color: #222;
            }
          }
        }
      }
      .exhibition__price {
        font-family:"Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        height: 602px;
        width: 700px;
        margin: auto;
        border-bottom: 1px solid #f5f5f5;
        &__range {
          height: 60px;
          width: 620px;
          margin: auto;
          font-size: 14px;
          line-height: 60px;
          color: gray;
          font-weight: bold;
        }
        &__info {
          max-height: 241px;
          height: auto;
          width: 620px;
          margin: auto;
          &__value {
            font-size: 14px;
            color: black;
            display: flex;
            align-items: center;
            font-weight: bold;
            span.tag {
              background-color: red;
              color: white;
              display: block;
              height: 16px;
              width: 32px;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              margin-left: 8px;
              border-radius: 2px;
            }
            span.mark {
              margin-right: 8px;
              margin-left: 220px;
            }
            #changes {
              height: 48px;
              width: 285px;
              border: 1px solid #ccc;
              text-align: right;
              border-radius: 4px;
              outline: none;
              padding: 0 16px;
            }
          }
          &__fee {
            height: 70px;
            line-height: 70px;
            display: flex;
            justify-content: space-between;
            span {
              font-size: 14px;
              color: black;
              font-weight: bold;
            }
          }
          &__half-way {
            border-top-color: #efefef;
            border-left: 0 solid #efefef;
            border-bottom: 0 solid #efefef;
            border-right: 0 solid #efefef;
            border-top-style: solid;
            margin: auto;
          }
          &__profit {
            height: 58px;
            line-height: 58px;
            display: flex;
            justify-content: space-between;
            span {
              font-size: 14px;
              color: black;
              font-weight: bold;
            }
          }
        }
        &__selection {
          height: 211px;
          width: 620px;
          margin: auto;
          input {
            background-color: red;
            height: 48px;
            width: 360px;
            color: white;
            font-size: 17px;
            font-weight: bold;
            margin: auto;
            border-radius: 2px;
            display: block;
            margin-bottom: 24px;
            border: none;
            outline: none;
          }
          .saving {
            background-color: lightgray;
            height: 48px;
            width: 360px;
            font-size: 17px;
            font-weight: bold;
            border-radius: 2px;
            display: block;
            margin: auto;
            margin-bottom: 24px;
            border: none;
            outline: none;
          }
          a {
            height: 20px;
            width: 360px;
            color: #0095ee;
            font-size: 14px;
            text-decoration: none;
            display: block;
            margin: auto;
            margin-bottom: 24px;
            text-align: center;
          }
        }
        &__rules {
          height: 90px;
          width: 620px;
          margin: auto;
          font-size: 12px;
          a {
            color: #0095ee;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer1 {
    height: 220px;
    background-color: #f5f5f5;
    &__inner {
      width: 460px;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;
      &__nav {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            font-size: 12px;
            a {
              color: #333333;
              text-decoration: none;
            }
            a:hover {
              border-bottom: 1px solid rgba(0, 0, 0, 0.555);
              opacity: 0.7;
            }
          }
        }
      }
      img.login_logo {
        width: 185px;
        height: 50px;
        margin: 40px auto 0;
      }
      img.login_logo:hover {
        opacity: 0.7;
      }
      p {
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        small {
          font-size: 13px;
        }
      }
    }
  }
}