.main__service {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding: 60px 20px;
  &__title {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    &:after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__lists {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    &__list {
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__pic {
        position: relative;
        margin-bottom: 20px;
        &__number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      }
      &__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span {
          color: #3CCACE;
        }
      }
      &__explanation {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    };
    &__list--last {
      margin: 16px 0 0;
      &__pic {
        position: relative;
        margin-bottom: 20px;
        &__number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      }
      &__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span {
          color: #3CCACE;
        }
      }
      &__explanation {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
  }
};
