* {
  box-sizing: border-box;
}

.signUpPage {
  width: 100vw;
  height: 100%;
  background-color: #f5f5f5;

  &__header {
    height: 128px;
    width: 700px;
    margin: auto;
    display: flex;
    
    &__logo {
      width: 48%;
      height: 128px;
      line-height: 170px;
      text-align: center;

      img {
        width: 185px;
        height: 50px;
        margin-left: 40px;
      }
    }

    &__progress {
      width: 52%;
      height: 128px;

      ul {
        display: flex;
        margin-top: 36px;
        margin-left: 4px;
        font-size: 12px;

        li.active {
          list-style: none;
          color: #3ccace;
          font-weight: bold;
          margin-right: 46px;
        }

        li {
          list-style: none;
          margin-right: 58px;
          color: rgb(139, 139, 139);
        }
      }

      &__bars {
        width: 240px;
        display: flex;

        &__1 {
          height: 13px;
          margin-left: 30px;
          border-bottom: 1.5px solid rgb(204, 204, 204);
          width: 50%;
          position: relative;

          &__circle1 {
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-color: #3ccace;
            position: absolute;
            bottom: -6px;
            left: -8px;
          }

          &__circle2 {
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-color: rgb(204, 204, 204);
            position: absolute;
            bottom: -6px;
            right: -5px;
          }
        }
        &__2 {
          width: 50%;
          border-bottom: 1.5px solid rgb(204, 204, 204);
          height: 13px;
          position: relative;

          &__circle3 {
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-color: rgb(204, 204, 204);
            position: absolute;
            bottom: -6px;
            right: -6px;
          }
        }
      }
    }
  }

  &__main {
    width: 100vw;
    min-height: 1411px;
    height: auto;

    &__title {
      width: 700px;
      height: 97px;
      background-color: white;
      border-bottom: 1px solid #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;

      h2 {
        font-size: 22px;
        font-weight: bold;
      }
    }

    &__contents {
      width: 700px;
      min-height: 1214px;
      height: auto;
      background-color: white;
      margin: auto;
    }

    .form {
      min-height: 1214px;
      height: auto;
      width: 700px;
      padding: 40px 40px 64px;

      &__top {
        margin: auto;
        min-height: 808px;
        height: auto;
        width: 343px;
        margin-bottom: 20px;

        &__nickname {
          width: 100%;
          min-height: 70px;
          height: auto;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;
          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }
        }

        .nicknameForm {
          width: 100%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
        }

        .nicknameForm:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        &__mail {
          width: 100%;
          min-height: 70px;
          height: auto;
          margin-top: 32px;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;
          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }
        }
        .mailForm {
          width: 100%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
        }

        .mailForm:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        &__password {
          width: 100%;
          min-height: 70px;
          height: auto;
          margin-top: 32px;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;
          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }
        }
        .passwordForm {
          width: 100%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
        }

        .passwordForm:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }
        p {
          margin-top: 8px;
          font-size: 14px;
          color: rgb(139, 139, 139);
        }

        &__passwordConfirm {
          width: 100%;
          min-height: 70px;
          height: auto;
          margin-top: 20px;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;

          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }
        }
        .passwordConfirmForm {
          width: 100%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
        }

        .passwordConfirmForm:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        p {
          margin-top: 8px;
          font-size: 14px;
          color: rgb(139, 139, 139);
        }

        &__identification {
          width: 100%;
          min-height: 70px;
          height: auto;
          margin-top: 30px;

          h2 {
            font-size: 16px;
            font-weight: bold;
          }

          p {
            font-size: 14px;
            color: black;
          }
        }

        &__kanji{
          margin-top: 30px;
          width: 100%;
          min-height: 70px;
          height: auto;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;

          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }
        }
        .kanjiFormLeft {
          width: 48%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
          float: left;
        }

        .kanjiFormLeft:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        .kanjiFormRight {
          width: 48%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
          float: right;
        }

        .kanjiFormRight:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        &__kana{
          margin-top: 30px;
          width: 100%;
          min-height: 70px;
          height: auto;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;

          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }
        }
        .kanaFormLeft {
          width: 48%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
          float: left;
        }

        .kanaFormLeft:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        .kanaFormRight {
          width: 48%;
          height: 48px;
          border-radius: 3px;
          border: 1px solid rgb(139, 139, 139);
          padding: 10px 16px 8px;
          outline: none;
          float: right;
        }

        .kanaFormRight:focus {
          border: 1px solid #0077ff;
          border-radius: 3px;
        }

        &__birthDay{
          margin-top: 30px;
          width: 100%;
          min-height: 70px;
          height: auto;

          &__title {
            font-size: 14px;
            display: flex;
            font-weight: bold;
          }

          &__require {
            display: block;
            font-size: 12px;
            background-color: #ea342d;
            width: 32px;
            height: 19px;
            color: white;
            border-radius: 3px;
            margin-left: 8px;
            text-align: center;
            line-height: 19px;
            margin-bottom: 8px;
          }

          &__box {
            display: flex;

            h3 {
              font-size: 14px;
              margin: auto ;
              margin-left: 3px;
              color: rgb(139, 139, 139);
            }
            .birthDayFormYear {
              width: 76px;
              height: 48px;
              border-radius: 3px;
              border: 1px solid rgb(139, 139, 139);
              padding: 10px 16px 8px;
              outline: none;
            }
    
            .birthDayFormYear:focus {
              border: 1px solid #0077ff;
              border-radius: 3px;
            }
    
            .birthDayFormMonth {
              width: 76px;
              height: 48px;
              border-radius: 3px;
              border: 1px solid rgb(139, 139, 139);
              padding: 10px 16px 8px;
              outline: none;
            }
    
            .birthDayFormMonth:focus {
              border: 1px solid #0077ff;
              border-radius: 3px;
            }
    
            .birthDayFormDay {
              width: 76px;
              height: 48px;
              border-radius: 3px;
              border: 1px solid rgb(139, 139, 139);
              padding: 10px 16px 8px;
              outline: none;
            }
    
            .birthDayFormDay:focus {
              border: 1px solid #0077ff;
              border-radius: 3px;
            }
          }
        }
      }

      &__bottom {
        margin: auto;
        min-height: 261px;
        height: auto;
        width: 343px;
        font-size: 0;

        p {
          font-size: 14px;
          display: inline;
        }

        a {
          font-size: 14px;
          color: rgb(0, 162, 255);
          text-decoration: none;
        }

        a:hover {
          opacity: 0.7;
          text-decoration: underline;
        }

        .toNextBtn {
          display: block;
          background-color: #ea342d;
          width: 100%;
          height: 50px;
          text-align: center;
          line-height: 50px;
          text-decoration: none;
          color: white;
          font-size: 14px;
          margin-top: 32px;
        }

        .toNextBtn:hover {
          opacity: 1.0;
          text-decoration: none;
        }

        &__aboutIdentity {
          width: 100%;
          height: 50px;
          margin-top: 30px;

          h3 {
            display: inline;
            font-size: 14px;
            margin-left: 170px;
            color: rgb(0, 162, 255);
          }

          a {
            text-decoration: none;
          }

          a:hover {
            opacity: 0.8;
            text-decoration: underline rgb(0, 162, 255);
          }
  
          i {
            font-size: 1.1em;
            color: rgb(0, 162, 255);
          }
        }

        &__googlePrivacy {
          background-color: rgb(219, 219, 219);
          width: 100%;
          height: 52px;
          padding: 8px 16px;

          p {
            font-size: 11px;
            color: gray;
          }

          a {
            font-size: 11px;
            color: rgb(0, 162, 255);
            text-decoration: none;
          }

          a:hover {
            border-bottom: 1px solid rgb(0, 162, 255);
          }
        }
      }
    }
  }

  &__footer {
    height: 100%;

    &__inner {
      width: 460px;
      margin: 0 auto;
      padding: 30px 0 30px 0;
      text-align: center;

      &__nav {
        width: 456px;
        margin: auto;
        margin-top: 10px;

        ul {
          display: flex;
          justify-content: space-around;
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 40px;

          a {
            text-decoration: none;
            font-size: 12px;
            color: #333333;
          }

          a:hover {
            border-bottom: 1px solid rgba(0, 0, 0, 0.555);
            text-decoration: underline;
            opacity: 0.7;
          }
        }

        &__logo {
          width: 185px;
          height: 50px;
          margin: auto;

          img {
            width: 185px;
            height: 50px;
          }
        }
      }

      p {
        font-family: Helvetica;
        width: 100px;
        margin: auto;
        height: 18px;
        text-align: center;
        font-size: 13px;
      }
    }
  }
}