* {
  box-sizing: border-box;
}

.loginPage {
  // height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  .header {
    height: 128px;
    line-height: 128px;
    position: relative;
    img.login_logo {
      width: 185px;
      height: 50px;
      position: absolute;
      top: 40px;
      left: 42%;
    }
  }
  &__main {
    &__contents {
      background-color: #fff;
      width: 460px;
      height: 730px;
      margin: 0 auto;
      &__no-account {
        height: 144px;
        border-bottom: 1px solid #f5f5f5;
        padding: 40px 64px;
        p {
          font-size: 14px;
        }
        a {
          display: block;
          margin: 8px 0 0 0;
          border: solid 1px #0099e8;
          background-color: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
          font-size: 14px;
        }
      }
      &__external-authenticate {
        height: 181px;
        border-bottom: 1px solid #f5f5f5;
        padding: 32px 64px;

        .facebookBtn {
          height: 50px;
          width: 328px;
          position: relative;
          display: block;
          border: solid 1px #385185;
          background-color: #385185;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
          font-size: 14px;
          line-height: 50px;
          i {
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }
          
        .googleBtn {
          height: 50px;
          width: 328px;
          position: relative;
          display: block;
          margin: 16px 0 0 0;
          border: solid 1px #333333;
          background-color: #fff;
          color: #000;
          line-height: 40px;
          text-decoration: none;
          font-size: 14px;
          line-height: 50px;
          i {
            position: absolute;
            top: 10px;
            left: 10px;
            color: red;
          }
        }

      }
      &__form {
        height: 399px;
        padding: 24px 64px 32px;
        &--email_feild {
          width: 328px;
          height: 48px;
          padding: 10px 16px 8px;
          background-color: #fff;
          border-radius: 4px;
        }
        &--password_feild {
          width: 328px;
          height: 48px;
          padding: 10px 16px 8px;
          background-color: #fff;
          border-radius: 4px;
          margin-top: 20px;
        }
        &--login {
          width: 328px;
          height: 50px;
          margin: 120px 0 0;
          background-color: #EA352D;
          color: white;
          font-size: 16px;
        }
        a {
          display: block;
          margin: 40px 0 0;
          color: #0099e8;
          font-size: 14px;
          text-decoration: none;
          text-align: left;
        }
      }
    }
  }
  .footer {
    height: 220px;
    &__inner {
      width: 460px;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;
      &__nav {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            font-size: 12px;
            a {
              color: #333333;
              text-decoration: none;
              touch-action: manipulation
            }
          }
        }
      }
      h1 {
        width: 185px;
        height: 65px;
        margin: 40px auto 0;
        img.login_logo {
          width: 185px;
          height: 50px;
        }
      }
      p {
        font-family: Helvetica;
        small {
          font-size: 13px;
        }
      }
    }
  }
}

